<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:supportsRtl="true"
        android:usesCleartextTraffic="false"
        tools:targetApi="23">

        <activity
            android:name="com.itachi1706.abp.attribouter.activities.AboutActivity"
            android:theme="@style/AttribouterTheme.DayNight" />

    </application>

</manifest>
